
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'checker_news_list' %}">
    Manage News
    </a>
</p>
    
<table class="table">
    <tr><td>title</td><td>{{ object.title }}</td></tr>
    <tr><td>date</td><td>{{ object.date }}</td></tr>
    <tr><td>author</td><td>{{ object.author }}</td></tr>
    <tr><td>image</td><td>{{ object.image }}</td></tr>
    <tr><td>body</td><td>{{ object.body }}</td></tr>
    <tr><td>link</td><td>{{ object.link }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}